# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore the static files directory


# Ignore the media files directory


# Ignore the database file(s)
db.sqlite3