[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
pyenchant = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[dev-packages]
requests = "*"
black = "*"

[requires]
python_version = "3.11"
