{% extends "dictionary_base.html" %}

{% block title %}
   Topics
{% endblock %}

{% block content %}
   <div class="container text-center">
      <h1>Topics</h1>
      <h4>Build your topic vocabulary with these mini-dictionaries, which are groups of words related to common subject areas. Choose a topic area from the list below to get started.</h4>
      <br>
      <section id="topcs" class="topics pt-0">
         <div class="container" data-aos="fade-up">
            <div class="row gy-4">
               {% for topic in topics %}
                  <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                     <div class="card">
                        <div class="card-img">
                           <img src="{{ topic.wallpaper.url }}" alt="" class="img-fluid">
                        </div>
                        <h3><a href="{% url 'dictionary:topic_detail' topic.pk %}" class="stretched-link">{{ topic.name }}</a></h3>
                        <p>{{ topic.description }}</p>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </section>
   </div>
{% endblock %}