{% extends "dictionary_base.html" %}

{% block content %}
<section id="word-detail" class="word-detail">
  <div class="wrapper">
    <div class = "word text-center"> 
      <h1> {{ word }} </h1>
      
      <!-- Popup -->
      <button id="add-to-playlist" style="padding-right: 30px;"><i class="bi bi-plus-circle-fill"></i></button>
      <div id="playlist-popup" class="popup">
        <div class="popup-content">
          <div class="popup-header">
            <h3>Add to wordlist</h3>
            <button class="close-popup">&times;</button>
          </div>
          <div class="playlist-list">
            <div class="playlist-container">
              <label>
                <input type="checkbox" name="playlist" value="playlist1"> List 1
              </label><br>
              <label>
                <input type="checkbox" name="playlist" value="playlist2"> List 2
              </label><br>
              <label>
                <input type="checkbox" name="playlist" value="playlist3"> List 3
              </label><br>
            </div>
          </div>
          
          <div class="create-playlist">
            <h4>Create new word list</h4>
            <input type="text" id="new-playlist-name" placeholder="Name of new list">
            <button id="create-playlist">Create</button>
          </div>
        </div>
      </div>

      {% if results|default_if_none:"" %}
        {% for pos, result in results.items %}
          <h5> {{ pos }} </h5>
          <h5> {{ result.pronunciation }} </h5>
          
          <div class="word-infor" id="word-infor">
            <table class="table-fill" style="margin-bottom: 30px;">
              <colgroup>
                <col width="300" >
                <col width="300" >
                <col width="300" >
              </colgroup>
        
              <thead> 
                <tr>
                  <th class="text-left">Meaning</th>
                  <th class="text-left">Example</th>
                  <th class="text-left">Synonym</th>
                </tr>
              </thead>
  
              <tbody class="table-hover">
                {% for definition in result.definitions %}
                  <tr>
                    <td class="text-left"> {{ definition.text }}</td>

                    <td class="text-left">
                      <ul>
                        {% if definition.examples %}
                          {% for example in definition.examples %}
                            <li> {{ example }} </li>
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </td>

                    <td class="text-left">
                      <ul>
                        {% if definition.synonyms %}
                          {% for synonym in definition.synonyms %}
                            <li><a href = "{% url 'dictionary:word_detail' %}?word={{ synonym }}" style="color:#0055ff;"> {{ synonym }}</a></li>
                          {% endfor %}
                        {% endif %}
                      </ul> 
                    </td>
                    
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      {% else %}
        <p> Word was not found <p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}