{% extends 'authentication_base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <p class="sign" align="center">Log in</p>
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="label" for="{{ field.id_for_label }}"></label>

                {% if field.name == "password" %}
                    <input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}"
                            class="form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}"
                            {% if field.required %} required{% endif %}>
                {% else %}
                    <input type="{{ field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                            class="form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}"
                            {% if field.value %} value="{{ field.value }}"{% endif %} {% if field.required %} required{% endif %}>
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="submit" value="Login">Log in</button>
        <p class="forgot" align="center" style="padding-top: 0px;">Don't have an account? <a href="{% url 'community:signup' %}">Sign up</a></p>
        <p class="forgot" align="center" style="padding-top: 5px;">Forgot password? <a href="{% url 'community:password-reset' %}">Reset Password</a></p>            
    </form>
{% endblock %}

{% block message %}
    {% if messages %}
        {% for message in messages %}
            <div style = "padding-top: 10px;">
                <div class="alert-{{ message.tags }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}