{% extends 'authentication_base.html' %}

{% block title %}
	Reset Password
{% endblock %}

{% block content %}
	<p class="sign" align="center">Password reset confirm</p>
	<form method="post" class="form">
		{% csrf_token %}
		{% for field in form %}
			<input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}"
			class="form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}"
			{% if field.required %} required {% endif %}>
	
			{% for error in field.errors %}
				<div class="invalid-feedback">{{ error }}</div>
			{% endfor %}
		{% endfor %}
		<button type="submit" class="submit" style="margin-left:105px;">Reset Password</button>
	</form>
{% endblock %}