{% extends 'authentication_base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
	<p class="sign" align="center">Signup</p>
	<form method="post" class="form">
		{% csrf_token %}

		{% for field in form %}
			{% if field.name == "password1" or field.name == "password2"%}
                <input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}"
                        class="form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}"
                        {% if field.required %} required{% endif %}>
			{% else %}
                <input type="{{ field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                        class="form-control{% if field.errors %} is-invalid{% endif %}" placeholder="{{ field.label }}"
                        {% if field.value %} value="{{ field.value }}"{% endif %} {% if field.required %} required{% endif %}>
			{% endif %}

			{% for error in field.errors %}
				<div class="invalid-feedback">{{ error }}</div>
			{% endfor %}
		{% endfor %}
				
		<button type="submit" value="Register" class="submit">Signup</button>
		<p class="forgot" align="center" style="padding-top: 0px;">Already have an account? <a href="{% url 'community:login'%}">Login Here</a></p>
	</form>
{% endblock %}