{%load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>
            {% block title %}
            {% endblock %}
        </title>

        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'img/logo.png' %}" rel="icon">
        <!--Vendor CSS-->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <!--Template CSS-->
        <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    </head>
    <body>
        <div class="main" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">

            {% block message %}
            {% endblock %}
            
            {%block content %}
            {%endblock content%}

        </div>
        <!--Vendor JS-->
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>