{% extends "workspace_base.html" %}

{% block content %}
    <form id="form-container" class="form-horizontal" method="POST">
        {% csrf_token %}

        <h1>
            {% if package %} Update {% else %} Create {% endif %} Package
        </h1>
        {% for package_field in package_form %}
            <div class="row spacer">
                {{ package_field.label_tag }} 
                {{ package_field }}
                {% if package_field.errors %}
                    <small class="error">{{ package_field.errors|striptags }}</small> 
                {% endif %}
            </div>
		{% endfor %}

        <h2>Add Word</h2>
        {{ word_formset.management_form }}

        {% for word_form in word_formset %}
            {% for hidden in word_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="row spacer form-row">
                {{ word_form.spelling.label_tag }}
                {{ word_form.spelling }}
                {{ word_form.DELETE }} <!--hide this field-->
                {% if word_form.spelling.errors %}
                    <small class="error">{{ word_form.spelling.errors|striptags }}</small> 
                {% endif %}
                <button class="btn btn-danger remove-form-row">-</button>
            </div>
        {% endfor %}
            
        <div class="row spacer empty-form-row">
            {{ word_formset.empty_form.spelling.label_tag }}
            {{ word_formset.empty_form.spelling }}
            {{ word_formset.empty_form.DELETE }}
            <button class="btn btn-success add-form-row">+</button>
        </div>

        <div class="row spacer">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript">

        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp("(" + prefix + "-\\d+)");
            var replacement = prefix + "-" + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var input = $(selector).find("input");
            if (input.val() === "") {
                alert('Input field cannot be empty.'); // make this alert more beautiful
                return;
            }
            var newElement = $(selector).clone(true);
            newElement.removeClass("empty-form-row").addClass("form-row");
            var total = $("#id_" + prefix + "-TOTAL_FORMS").val();
            newElement.find(":input:not([type=button]):not([type=submit]):not([type=reset])").each(function() {
                var name = $(this).attr("name")
                if(name) {
                    name = name.replace("-" + "__prefix__" + "-", "-" + total + "-");
                    var id = "id_" + name;
                    $(this).attr({"name": name, "id": id}).val("").removeAttr("checked");
                }
            });
            newElement.find("label").each(function() {
                var forValue = $(this).attr("for");
                if (forValue) {
                forValue = forValue.replace("-" + (total-1) + "-", "-" + total + "-");
                $(this).attr({"for": forValue});
                }
            });
            newElement.find("input").val(input.val());
            input.val("");
            total++;
            $("#id_" + prefix + "-TOTAL_FORMS").val(total);
            $(selector).before(newElement);
            var conditionRow = $(".form-row");
            conditionRow.find(".btn.add-form-row")
            .removeClass("btn-success").addClass("btn-danger")
            .removeClass("add-form-row").addClass("remove-form-row")
            .html("-");
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($("#id_" + prefix + "-TOTAL_FORMS").val());
            if (total > 0){
                btn.closest(".form-row").find("input[type=checkbox][name$=-DELETE]").prop("checked", true);
                btn.closest(".form-row").hide();
                var forms = $(".form-row");
                $("#id_" + prefix + "-TOTAL_FORMS").val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(":input").each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on("click", ".add-form-row", function(e){
            e.preventDefault();
            cloneMore(".empty-form-row:last", "form");
            return false;
        });

        $(document).on("click", ".remove-form-row", function(e){
            e.preventDefault();
            deleteForm("form", $(this));
            return false;
        });

    </script>
{% endblock %}
