<div class="word text-center">
    <h1 style="color: #000000; font-family: 'Inter', sans-serif; font-weight: 700;padding-top: 30px;">
    </h1>
    
    {% if not question.choices %}
        <h4>Guess the word by its definition</h4>
        <p>{{ question.text }}</p>
        <input type="text" name="answers" class="type_answer" align="center" placeholder="Your answer">
    {% else %}
        <h4>Choose the synonym of the word</h4>
        <p>{{ question.text }}</p>
        
        <div class="row" style="width: 700px; margin: 0 auto; text-align: left;">
            {% for choice in question.choices %}
            <div class="col-md-6">
                <label class="radio-button-container" disabled> {{choice}}
                    <input type="radio" name="radio" value="{{choice}}">
                    <span class="checkmark"></span>
                </label>

            </div>
            {% endfor %}
        </div>
        
    {% endif %}
    <input type="hidden" name="questions" value="{{ question.text }}">
    <input type="hidden" name="keys" value="{{ question.key }}">
    <input type="hidden" name="coeffs" value="{{ question.coeff }}">
</div>